/* WHAT UP */

/* Existing styles */

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
  /* padding: 10px; */
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #ECF9FC;
  /* gap: 10px; */
  
  /* height: 600px; */
}
/* Flex Box Bitch */
#app {
  align-items: center;
  background-color: white;
}

#header {
  flex-direction: column;
  
}

#subheader { 
  
  margin-left: 15px;
  
}

#headerButton {
  display: flex;
  justify-content: space-between;
  /* background: linear-gradient(to right,
    rgba(145, 196, 242, 0.4), 
    rgba(242, 204, 195, 0.4),
    rgba(231, 143, 142, 0.4) 
  ); */
  background-color: #ECF9FC;
  border-radius: 0px 0px 20px 20px;
  backdrop-filter: blur(5px); /* Optional: Adds a frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: To add depth */
  /* align-content: center; */
  align-items:center;
}



#analyze-button {
  padding: 5px 10px;
  font-size: 20px;
  margin: 30px 20px;
  min-width: 100px;
  max-width: 150px;
  max-height: 90px;
  border-radius: 20px;
  background-color: #628FF2;
  margin-right: 20px;

  flex: 0 0 auto; 
}

#results {
  margin-top: 20px;
}

/* Loading Spinner Styles */
.spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.spinner::after {
  content: '';
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #1e90ff;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Existing styles */

/* ... */

/* Results Styles */
#results {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 15px;
}

.result-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.result-content {
  margin-left: 10px;
}

#results ul {
  list-style-type: disc;
  margin-left: 20px;
}

#error-message {
  color: red;
  font-weight: bold;
}

/* Existing styles */

/* ... */

/* Result Content Styles */
.result-content {
  margin-left: 10px;
  max-height: 100px; /* Set maximum height */
  overflow-y: auto;  /* Enable vertical scrolling */
}

/* Existing styles */

/* Bias Meter Styles */
#bias-meter-container {
  margin-top: 20px;
}

#bias-meter {
  position: relative;
  left: 13px;
  width: 95%;
  height: 15px;
  background: linear-gradient(to right, #3e87f1, #E5E6EA, #f0484b);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

#bias-arrow {
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  left: 50%; /* Will be adjusted dynamically */
  transform: translateX(-50%);
}

#bias-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
}

#bias-labels span {
  width: 20%;
  text-align: center;
}

#bias-interpretation {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  /* font-weight: bold; */
  margin-top: 25px;
}

#bias-interpretation span {
  width: 33%;
  text-align: center;
}

/* Text Bubble Styles */
#summary {
  display: flex;
  flex: 2 0 auto;
  justify-content: center;
}

#other-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Text Bubble Styles */
.summary-text-bubble {
  background-color: #EFF6FF;
  border-radius: 10px;
  color: #4C7ADC;
  min-width: 100px;
  max-width: 95%;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  flex: 0 1 auto;
  box-shadow: 5px 5px 5px rgba(76, 122, 220, .2);

}

.text-bubble {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 100px;
  max-width: 95%;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  flex: 0 1 auto;
  box-shadow: 5px 5px 10px rgba(120, 120, 120, 0.3);
}

.text-bubble h3 {
  margin-top: 0;
  cursor: pointer; /* Indicates that the title is clickable */
  user-select: none; /* Prevents text selection on double-click */
}

.bubble-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.bubble-content.open {
  max-height: 500px; /* Adjust as needed */
  transition: max-height 0.5s ease-in;
}

.bubble-content p, .bubble-content ul {
  margin: 0;
  padding: 0;
}

.toggle-icon {
  font-weight: 500;
}


.bubble-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Indicates that the title is clickable */
  user-select: none; /* Prevents text selection on double-click */
  margin-top: 0;
}

.bubble-title:hover {
  color: #007BFF; /* Change text color on hover */
}

.bubble-title:hover .toggle-icon {
  color: #007BFF; /* Change icon color on hover */
}



/* Global Styles */

h1 {
  font-size: 30px;
  /* padding-top: 10px; */
  margin-top: 25px;
  margin-left: 15px;
  max-width: 200px;
  font-weight: 900;

  /* text-align: center; */
  min-width: 150px;
  flex: 1 1 auto;
}

h2 {
  font-size: 18px;
  margin: 15px 15px 25px 15px;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

button {
  background-color: #0078D7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #005A9E;
}

.spinner::after {
  border-top-color: #0078D7;
}

/* #footer {
  flex-shrink: 0; 
  background-color: #0078D7;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
} */


